body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  /* copy from css stricks full page background written the link in notebook */

  background: url(header.jpg) no-repeat center center fixed; /* no repeat means picture shouldn't repeat it should fit in center of the whole page*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1
{
	font-size: 3rem;
	color:#e2dbdb;
}


.buffer
{
	height:15em;
}


hr
{
	border-color: #F05F44;
	border-width:3px;
	max-width: 70px;

}

.btn-primary
{

	background-color:#F05F44;
	font-weight: : 700;
	text-transform: uppercase;
	padding:9px;
	border-radius: 300px;
	border-color: #F05F44;
}

.btn-primary:hover
{
	background-color: #ee4b08;
	border-color:#ee4b08; 
	text-decoration: none
}

.btn-xl
{
	padding: 1rem 2rem;
}